<html>
	<head>
		<title>Fuzzy Search</title>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script> 
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

		<script type="text/javascript">
			$(document).ready(function(){

				$("#txtSearch").autocomplete({
					source: function (request, response) {
				        $.ajax({
				            url: "{% url 'auto_complete' %}",
				            data: {'word': $("#txtSearch").val()},
				            success: function (data) {
								var transformed = [];
								$.each(data.result, function(i, item){
								  transformed.push({id:i, label:item});
								});
				                response(transformed);
				            },
				            error: function () {
				                response([]);
				            }
				        });
				    }
				});

			    $("#btnSearch").click(function(){
				    var val = $("#txtSearch").val();
				    if(val == ""){
					    alert("Please enter a word to search...");
				    } else {
				    	var serach_url = "{% url 'index' %}";
				    	var data = {
				    		'word': val, 
				    		'csrfmiddlewaretoken': '{{ csrf_token }}',
				    	}
				    	$.ajax({
						  'url': serach_url,
						  'type': "post", 
						  // 'contentType': 'application/json',
						  'data': data,
						  success: function(response) {
						  	var result = response.result.toString().replace(/\,/g, "<br/>");
						    $('#divResult').html("<b>Search result:</b> <br>" + result);
						  },
						  error: function(xhr, ajaxOptions, thrownError) {
						    console.log("<b>Error:</b> " + thrownError);
						    debugger;
						  }
						});
				    } // end else
				}); // end btnSearch click
			});
		</script>
	</head>
	<body>
		<form method="POST" action="">
			{% csrf_token %}
			<input type="text" id="txtSearch" value="">
			<button type="button" id="btnSearch" onclick="">Search</button>
		</form>
		<div id="divResult"></div>
	</body>
</html>